body {
    color: #707070;
    font-size: 17px;
    line-height: 24px;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

.grey { color: #999; }
.light-grey { color: #bbb; }
i { font-style: italic; }

h1, h2, h3, h4, h5 {
    color: #333;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
}

a {
    color: #dea811;
    text-decoration: none;
    &:hover {
        border-bottom: 1px solid #dea811;
    }
    &.no-decoration:hover {
        border-bottom: none;
    }
}

hr {
    width: 60%;
    margin: 60px auto;
    border: 0;
    border-top: 1px dashed #aaa;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

#header {
    width: 100%;
    padding-top: 10px;
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 9999;

    ul {
        float: left;
        list-style: none;

        li {
            display: inline;
            padding-right: 50px;
            list-style: none;

            a {
                color: #333;
                font-size: 15px;
                line-height: 64px;
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: 600;
                text-transform: uppercase;
                &:hover {
                    color: #777;
                }
            }
        }
    }

    h1 {
        color: #fff;
        float: right;
        display: block;
        padding: 14px;
        background: #eeb923;
        font-size: 28px;
        font-weight: 700;
        text-transform: uppercase;
    }
}

#about {
    padding-top: 75px;

    h2 {
        margin-top: 40px;
        font-size: 64px;
        font-weight: 600;
        line-height: 86px;
        letter-spacing: -2px;
        text-align: center;
        text-transform: uppercase;
    }

    .column {
        float: left;
        width: 400px;
        padding-left: 80px;
        margin-top: 40px;
        margin-right: 40px;
        text-align: justify;
        text-justify: inter-word;
        text-align-last: justify;

        &.last {
            margin-right: 0;
            padding-left: 0;
            padding-right: 80px;
        }
    }

    p {
        color: #333;
        margin-top: 40px;
        font-size: 24px;
        font-weight: 400;
        font-family: 'Source Sans Pro', sans-serif;
        text-align: center;
        text-transform: uppercase;

        .action {
            color: #fff;
            padding: 6px;
            margin-left: 20px;
            font-size: 22px;
            font-weight: 300;
            background-color: #777;
        }
    }
}

#work {
    h3 {
        margin: 40px 0 20px 0;
        font-size: 40px;
        font-weight: 600;
        line-height: 86px;
        letter-spacing: -2px;
        text-align: center;
        text-transform: uppercase;
    }

    .column {
        float: left;
        width: 400px;
        padding-left: 80px;
        margin-top: 40px;
        margin-right: 40px;
        text-align: right;

        &.last {
            margin-right: 0;
            padding-left: 0;
            padding-right: 80px;
            text-align: left;
        }
    }

    h4 {
        text-transform: uppercase;
    }
    h5 { margin: 6px 0; }
    p {
        font-size: 15px;
    }
}

#team {
    h3 {
        margin: 40px 0 20px 0;
        font-size: 40px;
        font-weight: 600;
        line-height: 86px;
        letter-spacing: -2px;
        text-align: center;
        text-transform: uppercase;
    }
    p {
        width: 840px;
        margin: 20px auto;
        text-align: justify;
        text-justify: inter-word;
    }

    .column {
        float: left;
        width: 254px;
        padding-left: 80px;
        margin-top: 40px;
        margin-right: 39px;
        text-align: center;

        h4 {
            margin-top: 10px;
            font-size: 28px;
            text-align: center;
        }
        img {
            display: block;
            margin-left: auto;
            margin-right: auto
        }

        &.middle {
            padding-left: 0;
        }
        &.last {
            margin-right: 0;
            padding-left: 0;
            padding-right: 80px;
        }
    }
}

#news {
    h3 {
        margin: 40px 0 20px 0;
        font-size: 40px;
        font-weight: 600;
        line-height: 86px;
        letter-spacing: -2px;
        text-align: center;
        text-transform: uppercase;
    }

    table {
        width: 840px;
        margin: 0 auto;

        td {
            padding-bottom: 40px;
            &.date {
                width: 200px;
            }
            &.excerpt {
                text-align: justify;
                text-justify: inter-word;
            }
        }
    }
}

#contact {
    position: relative;

    h3 {
        margin: 40px 0 20px 0;
        font-size: 40px;
        font-weight: 600;
        line-height: 86px;
        letter-spacing: -2px;
        text-align: center;
        text-transform: uppercase;
    }

    .info {
        width: 360px;
        height: 300px;
        padding: 28px 24px;
        position: absolute;
        bottom: 160px;
        right: 100px;
        opacity: 0.95;
        background-color: #fff;
        z-index: 999;

        h4 {
            font-size: 30px;
            padding-bottom: 30px;
        }
        p { margin-bottom: 20px; }
        table td { padding-right: 20px; }
    }

    #map {
        width: 100%;
        height: 560px;
    }
}
